.hero-item-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 64px;
  width: 100vw !important;
  &--info {
    flex: 1 0 0%;
    display: flex;
    justify-content: center;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.hero-dot-container {
  bottom: 32px !important;
}
